doctype html
html(lang="en")
	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="Content-Language", content="en")
		title Keystone API Test
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/site.min.css", rel="stylesheet")
		script.
			window.Keystone = !{JSON.stringify(Keystone)};

	//- HTML BODY
	body
		#app
		script(src='/js/packages.js')
		script(src='/js/api.js')
