include ../mixins/flash-messages

doctype html
html
	head
		if env === 'production'
			script.
				var _sf_startpt=(new Date()).getTime()
		
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		
		title= title || 'Keystone Demo'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700', rel='stylesheet')
		
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
		
		block css
		block head
	body
		.container
			//- intro
			block intro
			//- messages
			+flash-messages(messages)
			//- content
			block content
	
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')
			
		block page-js
